/wp-admin
/wp-includes
/wp-admin
/wp-content/upgrade
/wp-content/uploads
/wp-content/plugins/woocommerce
/wp-content/plugins/ci-store-plugin/ci-store-plugin-working/node_modules/
.htaccess
.DS_Store
wp-content/plugins/ci-store-plugin/dist/*.hot-update.*
wp-content/plugins/advanced-database-cleaner/
wp-content/plugins/wp-crontrol/
node_modules/
wp-content/plugins/ci-store-plugin/logs/
wp-content/plugins/ci-store-plugin/logs/WPS_LOG.log
wp-content/plugins/ci-store-plugin/logs/T14_LOG.log
wp-content/plugins/ci-store-plugin/logs/PATCH_PRODUCTS_LOG.log
