# General system files
.DS_Store
*.log

# WordPress Core Files
/wp-admin/
/wp-includes/
/.htaccess
wp-config-sample.php
wp-config.php
wp-cron.php
wp-login.php
wp-mail.php
wp-settings.php
wp-trackback.php

# WordPress Generated Content
wp-content/upgrade/
wp-content/uploads/
wp-content/debug.log

# Plugin-Specific Exclusions
wp-content/plugins/woocommerce/
wp-content/plugins/woocommerce-payments/
wp-content/plugins/advanced-database-cleaner/
wp-content/plugins/wp-crontrol/
wp-content/plugins/ci-store-plugin/logs/
wp-content/plugins/ci-store-plugin/ci-store-plugin-working/node_modules/
wp-content/plugins/ci-store-plugin/dist/*.hot-update.*
wp-content/plugins/ci-store-plugin/logs/*.log

# Stripe Gateway Plugin
wp-content/plugins/woocommerce-gateway-stripe/
wp-content/plugins/woocommerce-gateway-stripe/**/*.{txt,scss,map,css,js,php,pot,md,webp,woff2}
wp-content/plugins/woocommerce-gateway-stripe/includes/**/*
wp-content/plugins/woocommerce-gateway-stripe/assets/**/*

# Additional Plugins
wp-content/plugins/woocommerce-additional-variation-images/
wp-content/plugins/woocommerce-additional-variation-images/**/*.{js,css,scss,txt,pot,php}

# Theme-Specific Exclusions
wp-content/themes/twentytwentyfive/
wp-content/themes/twentytwentyfive/assets/**/*.{css,webp,woff2}
wp-content/themes/twentytwentyfive/parts/
wp-content/themes/twentytwentyfive/patterns/
wp-content/themes/twentytwentyfive/styles/
wp-content/themes/twentytwentyfive/templates/

# Node Modules
node_modules/
wp-config-sample.php
wp-config.php
wp-cron.php
wp-login.php
wp-mail.php
wp-settings.php
wp-trackback.php
wp-content/debug.log
wp-content/plugins/facetwp
wp-content/debug.log
